/* Dark Purple: #1F1F3C
Medium Purple: #A8AAD2
Light Purple: #EAEAF4
White: #FFFFFF */

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Poppins', sans-serif;
    display: flex;
}

main {
    width: 100%;
    flex-direction: column
}

h1 {
    font-size: 3.2em;
    font-weight: 1000;
    color: #FFFFFF;
    margin-top: 1rem;
}
aside {
    float: left;
    width: 30%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #1F1F3C;
}

.form-top {
    font-size: 1.2rem;
    width: 100%;
    height: 50vh;
    padding: 3rem 3rem 0 3rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #A8AAD2;
}

#label {
    font-size: 2rem;
    padding: 1rem 0;
}

#title {
    border: 3.2px solid #1F1F3C;
    width: 75%;
    height: 3rem;
    margin-left: 1.2rem;
    padding: 1.5rem;
}

.title-label, .body-label {
    font-size: 2rem;
    margin-top: 2rem;
}

#body {
    border: 3.2px solid #1F1F3C;
    width: 75%;
    height: 5rem;
    margin-left: 0.6rem;
    padding: 1rem;
    margin: 1rem;
    
}
.add-new {
    color: #1F1F3C;
    font-size: 2.5rem;
    width: 75%;
    height: 4.5rem;
    margin-left: 10.9rem;
    background-color: #a4a4c0;
}

.add-new:hover {
    cursor: not-allowed;
}

.section-bottom {
    width: 100%;
    height: 50vh;
    background-color: #EAEAF4;
    text-align: center;
}

#box1 {
    padding: 5.5rem;
    border: solid 3.2px #1F1F3C;
    display: inline-block;
    background-color: #FFFFFF;
    margin: 2rem;
 }

 .idea-box {
    overflow-y: auto;
    border: 2px solid #1F1F3C;
    margin: 10px 0;
    background-color: #FFFFFF;
    width: 10rem;
    height: 10rem;
}

.ideaContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px;
}

.idea-header {
    background-color: #1F1F3C;
    color: white;  
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center; 
    padding: 10px;
}

.close-btn {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

.idea-box p {
    padding: 10px; 
}

.ideaContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px;
    justify-items: center;
  }

  .favorited .star-icon {
    fill: rgba(255, 115, 0, 0.955);
    width: 25px;
    height: 25px;
    margin-right: auto;
}
.star-icon {
    fill: white;
    width: 25px;
    height: 25px;
    margin-right: auto;
}